@import "bourbon";
@import "config";

@import "reset";
@import "lib/utils/INDEX";
@import "typography";

@import "layout",
  "base-styles",
  "portfolio",
  "forms",
  "breakpoints";


// this code is to ensure that auto-prefixer is working correctly

@keyframes foo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#foobar {
  display: flex;
  animation: spin 800ms steps(6) 0s infinite both;
  transform: rotate(-60deg);
  user-select: none !important;
  cursor: grab;
  hyphens: auto;
}
