// This settings map illustrates a large override of the default opinions of the component UI.

$widget-foo__bar: (
  container: (
    margin: null,
    padding-bottom: 20px,
    border-bottom: 1px solid gray
  ),
);

$widget-foo: map-merge-z($widget-foo, $widget-foo__bar);
