$widget-foo: (
  deprecate: (
    is-deactivated: false,
    is-deprecated: 'this scaffolding component set deprecated and scheduled to be removed in version 3.1.',
  ),
  container: (
    margin: 20px,
    padding-bottom: 20px,
    border-bottom: 1px solid gray
  ),
) !default;
