@import "lib/mixins/is-deprecated";
@import "default-settings";

@mixin widget-foo($configs) {

  // Deprecate wrapper to control alerts and active status of the scaffolding
  @include deprecate-wrapper($configs) {

    margin: map-get-z($configs, container, margin);
    padding-bottom: map-get-z($configs, container, padding-bottom);
    border-bottom: map-get-z($configs, container, border-bottom);
  }
}
